picture {
    display: block;
}
picture > img {
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5rem;
}
h1{
    color: var(--black);
}
p{
    font-size: 17px;
    margin-top: 0;
    line-height: 2rem;
}
button{
    font-size: 17px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid transparent;
    cursor: pointer;
}
button:hover{
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);
}
.clients{
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.clients > img {
    height: 1rem;
}

@media screen and (min-width: 600px) {
    :host{
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem;
        background-color: var(--white);
    }
}
@media screen and (min-width: 1000px) {
    :host{
        padding: 5rem;
        gap: 5rem;
    }
    picture > img {
        display: block;
        height: 550px;
        width: auto;
    }
    h1{
        font-size: 80px;
    }
    h1 > span::after{
        content: "\a";
        white-space: pre;
    }
    main{
        text-align: left;
        align-items: flex-start;
    }
    button{
        margin: 2rem 0 4rem 0;
    }
}

@media screen and (min-width: 1250px) {
    picture > img {
        height: 680px;
    }
    :host{
        gap: 7.5rem;
    }
    p{
        margin-right: 9rem;
    }
    .clients{
        justify-content: flex-start;
        gap: 3rem;
    }
    .clients > img {
        height: 1.2rem;
    }
}